small {
  display: block;
  margin-top: 4px;
}

.formBackground {
  width: 100%;
  border: black 1px solid;
  border-radius: 5px;
  -webkit-box-shadow: 8px 7px 25px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 7px 25px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 7px 25px -6px rgba(0, 0, 0, 0.75);
  padding: 1.5%;
  margin-top: 2vh;
}
.formTitle {
  font-size: 1.7rem;
  text-transform: capitalize;
}

.customButton {
  height: 8vh;
  width: 100%;
  border: 3px solid rgba(131, 21, 24, 1);
  background: transparent;
  border-radius: 5px;
  color: rgba(131, 21, 24, 1);
  transition: 0.2s;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.customButton:hover {
  background: rgba(131, 21, 24, 1);
  color: white;
}
